<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">
    <select id="listSome" resultType="com.example.pojo.Goods">
        select *
        from warehouse.goods
        <where>
            <if test="name!=null and name!='' ">
                name like concat('%',#{name},'%')
            </if>
            <if test="storage!=null and storage!=''">
                and storage like concat('%',#{storage},'%')
            </if>
            <if test="goodstype!=null and goodstype!=''">
                and goodstype like concat('%',#{goodstype},'%')
            </if>
        </where>
        order by id
    </select>

    <select id="find" resultType="com.example.pojo.Goods">
        select *
        from warehouse.goods
        <where>
            <if test="name!=null and name!='' ">
                name like concat('%',#{name},'%')
            </if>
            <if test="storage!=null and storage!=''">
                and storage like concat('%',#{storage},'%')
            </if>
            <if test="goodstype!=null and goodstype!=''">
               and goodstype like concat('%',#{goodstype},'%')
            </if>
        </where>
        order by id
    </select>
</mapper>
